h1{
  background-color: black;
  color: white;
  font-family:sans-serif;
  padding: 5px 15px;
  
}
h1 span{
  color: #00FFFF;
}

h2{
  background-color: #663399;
  text-align: center;
  color: white;
  font-style: italic;
  font-family: sans-serif;
  padding: 5px;
}

#subsubheader{
  background-color: #9fc5f8;
  text-align: right;
  text-decoration: underline;
  color: black;
  font-style: normal;
  padding: 10px;
  font-family: sans-serif;
}
